body {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    height: 90vh;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

main {
    background-color: hsl(0, 0%, 12%);
    border-radius: 3%;
    width: 90%;
}


.profile-info {
    text-align: center;
}

img {
    border-radius: 50%;
}

h1 {
    font-weight: 700;
}

h2 {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    width: 75%;
}

ul {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    text-align: center;
}

li:hover {
    cursor: pointer;
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}

li {
    list-style-type: none;
    background-color: hsl(0, 0%, 20%);
    height: 25px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    main {
        width: 50%;
    }
}   

@media (min-width: 1200px) {
    main {
        width: 30%;
    }
}